doctype html
html
  head
    meta(name="generator" content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(href="stylesheets/bootstrap.min.css" rel="stylesheet")
    link(href="stylesheets/roboto.min.css" rel="stylesheet")
    link(href="stylesheets/material.min.css" rel="stylesheet")
    link(href="stylesheets/ripples.min.css" rel="stylesheet")
    link(rel='stylesheet' type="text/css" href="stylesheets/style.css")
    link(rel='stylesheet' type="text/css" href="stylesheets/dzstooltip.css")
    link(rel='stylesheet' type="text/css" href="stylesheets/dzscalendar.css")
    link(rel="stylesheet" href="stylesheets/font-awesome.min.css")
    link(href="stylesheets/cover.css" rel="stylesheet")
    //if lt IE 9
      script(src="js/html5shiv.min.js")
      script(src="js/respond.min.js")
    script(src="javascripts/ie-emulation-modes-warning.js")
    link(rel="apple-touch-icon" href="images/apple-touch-icon.ico")
    link(rel="icon" href="images/favicon.ico")
  body
    block content
